<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
    margin-left:auto;
    margin-right:auto;
  }

  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
</style>

<table *ngIf="data$ | async as data" >
  <tr>
    <td><b>ID</b></td>
    <td><b>Name</b></td>
    <td><b>Age</b></td>
    <td><b>Salary</b></td>
    <td><b>E-mail</b></td>
    <td><b>Details</b></td>
    <td><b>Remove?</b></td>
  </tr>
  <tr *ngFor="let employee of data">
    <td>{{ employee.id }}</td>
    <td> {{ employee.name }}</td>
    <td>{{ employee.age }}</td>
    <td> {{ employee.salary }}</td>
    <td> {{ employee.mail }}</td>
    <td><b><a routerLink="/employee-details/{{employee.id}}">Details</a></b></td>
    <td><button (click)="remove(employee.id)">Remove</button></td>
  </tr>
</table>

